<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pelmanism</title>
    <link rel="stylesheet" type="text/css" href="./../../webroot/css/style.css">
    <script src="./../../webroot/js/vendor.bundle.js"></script>
    <script src="./../../webroot/js/game.bundle.js" charset="utf-8"></script>
  </head>
  <body>
    <div class="wrap">
      <ul>
        <li>?</li>
        <li>?</li>
        <li>?</li>
        <li>?</li>
        <li>?</li>
        <li>?</li>
        <li>?</li>
        <li>?</li>
        <li>?</li>
        <li>?</li>
        <li>?</li>
        <li>?</li>
        <li>?</li>
        <li>?</li>
        <li>?</li>
        <li>?</li>
      </ul>
    </div>
  </body>
</html>
