<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>Pelmanism</title>
    <link rel="stylesheet" type="text/css" href="./../../webroot/css/style.css">
  </head>
  <body>
    <div id="app">
      <p>残り{{ count }}回</p>
      <div class="wrap">
        <ul>
          <li v-for="card in cards" v-on:click="select(card.index)" :class="[card.status, card.color]">{{ card.text }}</li>
        </ul>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./../../webroot/js/vendor.bundle.js"></script>
    <script src="./../../webroot/js/game_vue.bundle.js" charset="utf-8"></script>
  </body>
</html>
